@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

@font-face {
  font-family: "PlusJakartaSans-ExtraBold";
  src: url("../../public/fonts/PlusJakartaSans-ExtraBold.ttf");
}
@font-face {
  font-family: "PlusJakartaSans-Bold";
  src: url("../../public/fonts/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "PlusJakartaSans-Medium";
  src: url("../../public/fonts/Ubuntu-Medium.ttf");
}
@font-face {
  font-family: "PlusJakartaSans-Regular";
  src: url("../../public/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "PlusJakartaSans-Light";
  src: url("../../public/fonts/Ubuntu-Light.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



.grayImg {
  filter: gray;
  -webkit-filter: grayscale(1); 
  filter: grayscale(1);
}

.custom-drop-shadow {
  --tw-drop-shadow: drop-shadow(0 3px 3px rgb(0 0 0 / 0.5));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}



.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(255, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #21bb3e;
  height: 0.5rem;
  --tw-bg-opacity: 1;
    background-color: rgb(228 92 22 / var(--tw-bg-opacity));
    width: 4rem;
    border-radius: 9999px;
    cursor: pointer;
}
